/* Default h1 font size is 40px
   Default display-2 font size is 88px 
   Default navbar height is 48px */

/* Is there a way to make the navbar bigger or smaller? 
   Aha! Increase font size! */

@media only screen and (max-width: 2560px) {
	#main-image {
		margin-top: 224px;
		width: 30%;
	}

	#text {
		margin-top: 40px;
	}

	.font-weight-bold {
		font-size: 150px;
		text-shadow: 5px 5px black;
	}

	.about {
		font-size: 50px;
		width: 75%;
	}

	h1 {
		font-size: 80px;
		/* Little bit stupid. Should probably remove the
		   text-shadowed-black class and manage it by @media here. */
		text-shadow: 5px 5px black;
	}
}

@media only screen and (max-width: 1920px) {
	#main-image {
		margin-top: 120px;
		width: 25%;
	}

	#text {
		margin-top: 20px;
	}

	.font-weight-bold {
		font-size: 88px;
		text-shadow: 3px 3px black;
	}

	.about {
		font-size: 24px;
		width: 50%;
	}

	h1 {
		font-size: 40px;
		text-shadow: 3px 3px black;
	}
}

@media only screen and (max-width: 1440px) {
	#main-image {
		width: 30%;
	}

	#text {
		margin-top: 0px;
	}

	.about {
		width: 60%;
	}
}

@media only screen and (max-width: 1024px) {
	#main-image {
		width: 40%;
	}

	.about {
		width: 80%;
	}
}

@media only screen and (max-width: 912px) {
	#main-image {
		width: 50%;
		margin-top: 90px;
	}


}

@media only screen and (max-width: 540px) {
	#main-image {
		width: 80%;
	}

	.font-weight-bold {
		font-size: 55px;
	}

	h1 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 375px) {
	#main-image {
		width: 75%;
	}

	.font-weight-bold {
		font-size: 45px;
	}

	h1 {
		font-size: 28px;
	}
}

@media only screen and (max-width: 280px) {
	#main-image {
		width: 75%;
	}

	.font-weight-bold {
		font-size: 35px;
	}

	h1 {
		font-size: 20px;
	}
}